:root {
    --main-color: #60afff;
    --header-bg: #202124;
    --header-color: #fff;
    --bar-bg: #5bc0de;
    --menu-bg-color: #24262c;
    --menu-color: #5f6368;
    --menu-color-hover: #202124;
    --main-menu-color: #d1d1d1;
    --submenu-bg-hover: #d4d4d4;
    --submenu-bg-hover-active: #60afff;
    --font-body: "Microsoft Yahei","WenQuanYi Micro Hei",sans-serif,"Helvetica Neue",Helvetica,"Hiragino Sans GB";
  }
  