<%#
	umbrella is a clean HTML5 theme for LuCI. It is based on luci-theme-material and MUI

	luci-theme-umbrella
	Copyright 2020 Hai Phu
-%>
<%
	local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"

	local boardinfo = util.ubus("system", "board")

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
    local i, r    
    
    local function file_exists(name)
    local f=io.open(name,"r")
    if f~=nil then io.close(f) return true else return false end
	end

	
%>
<%+header%>
<h2 name="content"><%:Updater%></h2>
<%- sys.call("/etc/init.d/updater restart")-%>
<%- if file_exists("/www/luci-static/newver.txt") then -%>

<div class="cbi-map-descr">
	Do not turn off router when updating
</div>
<object data="/luci-static/newver.txt" width="1000">  </object>
<!-- <a class="cbi-button cbi-button-action important" id='updateFirmware', onclick="document.getElementById('ahaha').style.display = 'block' "><%:Update firmware%></a> -->
<a class="cbi-button cbi-button-action important" id='updateFirmware', onclick="document.getElementById('ahaha').style.display = 'block' "><%:Update firmware%></a>

<div id = 'ahaha', class='modal', style='display:none'>
        <p style='display:inline'> ARE YOU SURE TO UPDATE NEW FIRMWARE ? </p>
        <div class="cbi-button cbi-button-action "><a href="<%=url("admin/system/updater2")%>"><%:Confirm%></a></div>
</div>

<%- else -%>
<%- sys.call("/etc/init.d/updater stop")-%>
<div class="cbi-map-descr">
	Your firmware is up to date
</div>

<%- end -%>
<%+footer%>
