<%#
	umbrella is a clean HTML5 theme for LuCI. It is based on luci-theme-material and MUI

	luci-theme-umbrella
	Copyright 2020 Hai Phu
-%>
<%
	local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"

	local boardinfo = util.ubus("system", "board")

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
    local i, r    
    
    local function file_exists(name)
    local f=io.open(name,"r")
    if f~=nil then io.close(f) return true else return false end
	end

	
%>
<%+header%>
<h2 name="content"><%:Updater%></h2>

<%- if file_exists("/etc/updater/BKrouter.img.gz") then -%>

<div class="cbi-map-descr">
	Please wait few minutes for updating new firmware and reloading web interface with new ip address. 
</div>
<%- sys.call("sysupgrade /etc/updater/BKrouter.img.gz") -%>
<%- else -%>
<div class="cbi-map-descr">
	update error. 
</div>
<%- end -%>
<%+footer%>
