<!-- <html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body></body>
</html> -->
<script>
    XHR.poll(3, '<%=url([[admin]], [[vpn]], [[ipsecvpn]], [[status]])%>', null,
        function(x, data) {
            var tb = document.getElementById('ipsec_status');
            if (data && tb) {
                if (data.running) {
                    var links = '<em><b><font color=green><%:RUNNING%></font></b></em>';
                    tb.innerHTML = links;
                } else {
                    tb.innerHTML = '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
                }
            }
        }
    );
    //]]>
</script>
<style>
    .mar-10 {
        margin-left: 50px;
        margin-right: 10px;
    }
</style>
<fieldset class="cbi-section">
    <p id="ipsec_status">
        <em><%:Collecting data...%></em>
    </p>
</fieldset>