<%#
	umbrella is a clean HTML5 theme for LuCI. It is based on luci-theme-material and MUI

	luci-theme-umbrella
	Copyright 2020 Hai Phu
-%>

<%
	local ver = require "luci.version"
	local disp = require "luci.dispatcher"
	local request  = disp.context.path
	local category = request[1]
	local tree = disp.node()
	local categories = disp.node_childs(tree)
%>
	</div>
	<footer class="mobile-hide">
	<a href="https://github.com/openwrt/luci">Powered by BKRouter</a>
	<% if #categories > 1 then %>
		<ul class="breadcrumb pull-right" id="modemenu">
		<% for i, r in ipairs(categories) do %>
		<li<% if request[1] == r then %> class="active"<%end%>>
			<a href="<%=controller%>/<%=r%>/"><%=striptags(translate(tree.nodes[r].title))%></a>
			<span class="divider">|</span>
		</li>
		<% end %>
		</ul>
	<% end %>
	</footer>
	</div>
</div>
<script>
	// thanks for Jo-Philipp Wich <jow@openwrt.org>
	var luciLocation = <%= luci.http.write_json(luci.dispatcher.context.path) %>;
</script>
<script src="<%=media%>/js/jquery.min.js?v=git-20.115.52331-39a8290"></script>
<script src="<%=media%>/js/script.js?v=git-20.115.52331-39a8290"></script>
</body>
</html>
