<%#
	umbrella is a clean HTML5 theme for LuCI. It is based on luci-theme-material and MUI

	luci-theme-umbrella
	Copyright 2020 Hai Phu
-%>

<%
	local sys  = require "luci.sys"
	local util = require "luci.util"
	local http = require "luci.http"
	local disp = require "luci.dispatcher"

	local boardinfo = util.ubus("system", "board")

	local request  = disp.context.path
	local request2 = disp.context.request

	local category = request[1]
	local cattree  = category and disp.node(category)

	local leaf = request2[#request2]

	local tree = disp.node()
	local node = disp.context.dispatched

	local categories = disp.node_childs(tree)

	local c = tree
	local i, r

	-- tag all nodes leading to this page
	for i, r in ipairs(request) do
		if c.nodes and c.nodes[r] then
			c = c.nodes[r]
			c._menu_selected = true
		end
	end

	-- send as HTML5
	http.prepare_content("text/html")

	local function file_exists(name)
		local f=io.open(name,"r")
		if f~=nil then io.close(f) return true else return false end
 	end


	local function nodeurl(prefix, name, query)
		local u = url(prefix, name)
		if query then
			u = u .. http.build_querystring(query)
		end
		return pcdata(u)
	end

	local function render_tabmenu(prefix, node, level)
		if not level then
			level = 1
		end

		local childs = disp.node_childs(node)
		if #childs > 0 then
			if level > 2 then
				write('<ul class="tabs">')
			end

			local selected_node
			local selected_name
			local i, v

			for i, v in ipairs(childs) do
				local nnode = node.nodes[v]
				if nnode._menu_selected then
					selected_node = nnode
					selected_name = v
				end

				if level > 2 then
					write('<li class="tabmenu-item-%s %s"><a href="%s">%s</a></li>' %{
						v, (nnode._menu_selected or (node.leaf and v == leaf)) and 'active' or '',
						nodeurl(prefix, v, nnode.query),
						striptags(translate(nnode.title))
					})
				end
			end

			if level > 2 then
				write('</ul>')
			end

			if selected_node then
				render_tabmenu(prefix .. "/" .. selected_name, selected_node, level + 1)
			end
		end
	end

	local function render_submenu(prefix, node)
		local childs = disp.node_childs(node)
		if #childs > 0 then
			write('<ul class="slide-menu">')

			for i, r in ipairs(childs) do
				local nnode = node.nodes[r]
				local title = striptags(translate(nnode.title))

				write('<li><a data-title="%s" href="%s">%s</a></li>' %{
					title,
					nodeurl(prefix, r, nnode.query),
					title
				})
			end

			write('</ul>')
		end
	end

	local function render_topmenu()
		local childs = disp.node_childs(cattree)
		if #childs > 0 then
			write('<ul class="nav">')

			for i, r in ipairs(childs) do
				local nnode = cattree.nodes[r]
				local grandchildren = disp.node_childs(nnode)

				if #grandchildren > 0 then
					local title = striptags(translate(nnode.title))

					write('<li class="slide"><a class="menu" data-title="%s" href="#">%s</a>' %{
						title,
						title
					})

					render_submenu(category .. "/" .. r, nnode)
					write('</li>')
				else
					local title = striptags(translate(nnode.title))

					write('<li><a data-title="%s" href="%s">%s</a></li>' %{
						title,
						nodeurl(category, r, nnode.query),
						title
					})
				end
			end

			write('</ul>')
		end
	end
-%>
<!DOCTYPE html>
<html lang="<%=luci.i18n.context.lang%>">
<head>
	<meta charset="utf-8">
	<title><%=striptags( (boardinfo.hostname or "?") .. ( (node and node.title) and ' - ' .. translate(node.title) or '')) %> - LuCI</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#09c">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="msapplication-TileColor" content="#09c">
	<meta name="application-name" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
	<meta name="apple-mobile-web-app-title" content="<%=striptags( (boardinfo.hostname or "?") ) %> - LuCI">
	<link rel="stylesheet" href="<%=media%>/cascade.css?v=git-20.115.52331-39a8290">
	<link rel="shortcut icon" href="<%=media%>/favicon.ico">
	<% if node and node.css then %>
		<link rel="stylesheet" href="<%=resource%>/<%=node.css%>">
	<% end -%>
	<% if css then %>
		<style title="text/css"><%= css %></style>
	<% end -%>
	<script src="<%=url('admin/translations', luci.i18n.context.lang)%>?v=git-20.115.52331-39a8290"></script>
	<script src="<%=resource%>/cbi.js?v=git-20.115.52331-39a8290"></script>
	<script src="<%=resource%>/xhr.js?v=git-20.115.52331-39a8290"></script>
</head>
<body class="lang_<%=luci.i18n.context.lang%> <% if node then %><%= striptags( node.title ) %><% end %> <% if luci.dispatcher.context.authsession then %>logged-in<% end %>" data-page="<%= pcdata(table.concat(disp.context.requestpath, "-")) %>">
<header>
	<div class="fill">
		<div class="container">
			<span class="showSide"></span>
		</div>
	</div>
</header>
<div class="main">
	<div style="" class="loading"><span><div class="loading-img"></div><%:Collecting data...%></span></div>
	<div class="main-left">
		<a id="logo" href="<% if luci.dispatcher.context.authsession then %><%=url('admin/status/overview')%><% else %>#<% end %>"><img src="<%=media%>/brand.svg" alt="OpenWrt"></a>
		<% render_topmenu() %>
		<div class="status" id="indicators">
			<span id="xhr_poll_status" style="display:none" onclick="XHR.running() ? XHR.halt() : XHR.run()">

			</span>
		</div>
	</div>
	<div class="main-right">
		<div class="darkMask"></div>
		<div id="maincontent">
			<div class="container">		
				<%- if luci.sys.process.info("uid") == 0 and luci.sys.user.getuser("root") and not luci.sys.user.getpasswd("root") then -%>
					<div class="alert-message warning">
						<h4><%:No password set!%></h4>
						<p><%:There is no password set on this router. Please configure a root password to protect the web interface and enable SSH.%></p>
						<% if disp.lookup("admin/system/admin") then %>
							<div class="right"><a class="btn" href="<%=url("admin/system/admin")%>"><%:Go to password configuration...%></a></div>
						<% end %>
					</div>
				<%- end -%>

				/* <%- if file_exists("/www/luci-static/newver.txt") then -%>
					<div class="alert-message warning">
						<h4><%:New Version available!%></h4>
						<% if disp.lookup("admin/system/flash") then %>
							<div class="right"><a class="btn" href="<%=url("admin/system/updater")%>"><%:Go to update version...%></a></div>
						<% end %>
					</div>
				<%- end -%> */

				<%- if file_exists("/www/luci-static/bh") then -%>
					<div class="alert-message warning">
						<h4><%:Cryptographic acceleration module on FPGA is not enabled! %></h4>
					</div>
				<%- end -%>

				<noscript>
					<div class="alert-message warning">
						<h4><%:JavaScript required!%></h4>
						<p><%:You must enable JavaScript in your browser or LuCI will not work properly.%></p>
					</div>
				</noscript>
				<% if category then render_tabmenu(category, cattree) end %>

